* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: teal;
    font-family: sans-serif;
}

.outer-box {
    height: auto;
    width: 40%;
    margin: 200px auto;
    border-radius: 10px;
    background-color: #f1f1f1;
}

.header {
    width: 100%;
    background-color: #333;
    color: white;
    border-bottom: 2px solid #6e6e6e;
    position: relative;
}

h2 {
    padding: 15px;
}

#plus-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.para {
    width: 100%;
    background-color: #333;
    color: rgb(212, 212, 212);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 15px;
    line-height: 25px;
}